$R1:rgb(0, 161, 201);
$fonsR1: rgba(0, 161, 201, 0.171);

#containerInt1{
    background-color: $fonsR1;
    padding: 20px;
    border-radius: 20px;

    h3,p,option,label{
        font-family: sans-serif;
        font-size: 20;
    }
    h3{
        text-align: center;
    }
    .data{
        font-weight: bold;
        color: $R1;
    }
    .afectacio{
        margin-left:20px;
        margin-bottom: 0px;
    }
    .alternativa{
        margin-left:20px;
        margin-top: 2px;
    }

    label{
        font-size: 20px;
    }
    select{
        font-size: 20px;
        border: unset;
        border-bottom: 1px solid black;
    }

    .centrar{
        width: 100%;
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        gap:10px
    }


}